{% extends "master.html.twig" %}

{% block title %}Article added{% endblock %}

{% block content %}
    <p>Article added</p>
    <p><a href="/article/{{id}}">Click to view the new article</a></p>
{% endblock %}