{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            // alert("jQuery works");
            $('input[name=email]').on('paste blur change input', function() {
                var email = $('input[name=email]').val();
                $("#emailTaken").load("/isemailtaken/" + email);
            });

            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

        });
    </script>
{% endblock %}

{% block content %}
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

        <form method="post">
            First name: <input type="text" name="firstName" value="{{ v.firstName }}"><br>
            Last name: <input type="text" name="lastName" value="{{ v.lastName }}"><br>
            Gender: Male<input type="radio" name="gender" value="{{ v.gender }}">  Female<input type="radio" name="gender" value="{{ v.gender }}"><br>
            Phone No: <input type="text" name="phoneNo" value="{{ v.phoneNo }}"><br>
            Address: <input type="text" name="address" value="{{ v.address }}"><br>
            City: <input type="text" name="city" value="{{ v.city }}"><br>
            Postal Code: <input type="text" name="postalCode" value="{{ v.postalCode }}"><br>
            Email: <input type="text" name="email" value="{{ v.email }}">
            <span class="errorMessage" id="emailTaken"></span><br>
            Password <input type="password" name="pass1"><br>
            Password (repeated) <input type="password" name="pass2"><br>
            <input type="submit" value="Register">
        </form>
{% endblock %}
